# Lab | Data Structuring and Combining Data

For Challenge 1, you can either use data which has already been cleaned (option 1) or clean it yourself (option 2).

## Challenge 1: Combining Data (Option 1)

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

## Challenge 1: Combining & Cleaning Data (Option 2)

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files below:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [68]:
#Importing libraries
import pandas as pd
import numpy as np

#Importing datafiles
file_1 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')
file_2 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv')
file_3 = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv')

#verifying that columns label are the same for each datasets
#file_1.columns == file_2.columns
#file_2.columns == file_3.columns
#file_1.columns == file_3.columns

#Concatenating the three files to get a dirty version of customer_data

customer_data_dirty = pd.concat([file_1, file_2, file_3], axis=0)

#cleaning columns labels

customer_data_dirty = customer_data_dirty.rename(columns={'Customer':'customer',
                                'ST':'state',
                                'GENDER':'gender',
                                'Customer Lifetime Value':'customer_lifetime_value',
                                'Income':'income',
                                'Monthly Premium Auto':'monthly_premium',
                                'Number of Open Complaints':'open_complaints',
                                'Policy Type':'policy_type','Vehicle Class':'vehicule_class','Total CLaim Amount':'total_claim_amount'})


#check datatypes
#print(customer_data_dirty.dtypes)
#open complaints & CLV might be numerical to check

#check Null values >>> 8811 NaN for each labels except for Gender who has 9172
#ustomer_data_dirty.isna().sum()
#ustomer_data_dirty.shape

#checking which rows might have null valueand removing them
#customer_data_dirty[customer_data_dirty['customer_lifetime_value'].isna()==True]
#customer_data_dirty.isna().sum()

customer_data_dirty.dropna(subset=['state'], inplace=True)
customer_data_dirty.dropna(subset=['customer_lifetime_value'], inplace=True)
customer_data_dirty.dropna(subset=['gender'], inplace=True)

#checking for naming errors in gender & customer_lifetime_value(feamale, or percentage in CLV) 

customer_data_dirty['gender'].replace({'Femal': 'F', 'Male': 'M', 'female': 'F'}, inplace=True)
customer_data_dirty['state'].replace({'Arizona': 'AZ', 'Nevada': 'NV', 'California': 'CA', 'Cali': 'CA', 'Washington': 'WS', 'Oregon': 'OR'}, inplace=True)
customer_data_dirty['vehicule_class'].replace({'SUV': 'Luxury', 'Luxury Car': 'Luxury', 'Luxury SUV': 'Luxury', 'Sports Car': 'Luxury'}, inplace=True)
customer_data_dirty['customer_lifetime_value'] = customer_data_dirty['customer_lifetime_value'].str.replace('%', '').astype(float)
customer_data = customer_data_dirty['open_complaints'] = customer_data_dirty['open_complaints'].str.split('/').str[0]

#customer_data_dirty['vehicule_class'].unique()
display(customer_data)

,customer,state,gender,Education,customer_lifetime_value,income,monthly_premium,open_complaints,policy_type,vehicule_class,Total Claim Amount
1,QZ44356,AZ,F,Bachelor,6.979536e+05,0.0,94.0,1,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelor,1.288743e+06,48767.0,108.0,1,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,M,Bachelor,7.645862e+05,0.0,106.0,1,Corporate Auto,Luxury,529.881344
4,GA49547,WS,M,High School or Below,5.363077e+05,36357.0,68.0,1,Personal Auto,Four-Door Car,17.269323
5,OC83172,OR,F,Bachelor,8.256298e+05,62902.0,69.0,1,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
12069,LA72316,CA,M,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
12070,PK87824,CA,F,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
12071,TD14365,CA,M,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,CA,M,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,CA,M,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [69]:
#Importing libraries
import pandas as pd
import numpy as np

#Importing datafiles
marketing_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')

In [87]:


#removing the empty unnamed:0 column 
#marketing_data = marketing_data.drop(['unnamed:_0'], axis=1)

marketing_data['customer_lifetime_value'] = round(marketing_data['customer_lifetime_value'], 2)

#creating the pivot table (i don't know from context if customer value is equal to amount of sales, but that's my assumption here)
marketing_summary = pd.pivot_table(marketing_data, values='customer_lifetime_value', index='sales_channel', aggfunc='sum')

# Rounding down to 2 decimals
marketing_summary = marketing_summary.round(2)

display(marketing_summary)

               customer_lifetime_value
sales_channel
Agent                      33057887.66
Branch                     24359201.28
Call Center                17364288.35
Web                        12697633.04

#You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [92]:
ed_gender_pivot = pd.pivot_table(marketing_data, values='customer_lifetime_value', index=['gender','education'], aggfunc='sum')
display(ed_gender_pivot)
#Suprisingly, Bachelor's & High School are higher in terms of CLV than other educations levels, but it appears that Females reach a higher CLV in highschool/master/College & Bachelor

                             customer_lifetime_value
gender education
F      Bachelor                          13386258.24
       College                           12460108.24
       Doctor                             1465701.73
       High School or Below              13793599.84
       Master                             3874600.25
M      Bachelor                          12110061.73
       College                           12851725.25
       Doctor                             1490482.04
       High School or Below              12680913.95
       Master                             3365559.06

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here